<h1><%= @recipes.name %></h1>

<h3>Ingredients</h3>

<% if @recipes.ingredient.any? %>
<p>You will need the following ingredients:</p>
  <% @recipes.ingredient.each do |t| %>
  <ul>
    <li><%= t %></li>
  </ul>
  <% end %>
<% else %>
  <p>You forgot to add the ingredients for this recipe!</p>
<% end %>

<h3>Instructions</h3>

<%# if @recipes.instruction.any? %>
<p>Follow these instructions carefully!</p>
  <%#= @recipes.instruction %>
  <%# end %>
<%# else %>
  <p>You forgot to include the instructions! You will probably need to edit!</p>
<%# end %>
